<li class="list-group-item py-3 mb-4">
    <div class="card border-primary w-60 text-center">
        <div class="card-header">
            <div class="d-flex flex-start align-items-center">
                <!-- Recipe Creator -->
                <img alt="{{ recipe.user.username }}'s profile image"
                     class="rounded-circle shadow-1-strong me-3"
                     src="{{ MEDIA_URL }}{{ recipe.user.avatar }}"
                     width="50"/>
                <div>
                    <a href="{% url 'recipez:user_profile' recipe.user %}" class="btn nav-link btn-outline-info"><h4 class="fw-bold mb-1 text-dark">{{ recipe.user|capfirst }}</h4></a>
                    <!-- Recipe Creator -->
                    <p class="text-muted small mb-0">
                        {{ recipe.creation_time }}
                    </p>
                </div>
            </div>
        </div>

        <h2 class="card-title text-center">{{ recipe.name }}</h2> <br>
        <img class="card-image-top" src="{{ MEDIA_URL }}{{ recipe.photo }}" alt="Image of {{recipe.id}}" >
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item" style="border-radius: 10px;">Category: {{ recipe.category }}</li>
                <li class="list-group-item" style="border-radius: 10px;">Region: {{ recipe.region }}</li>
                <li class="list-group-item" style="border-radius: 10px;">Difficulty: {{ recipe.difficulty }}</li>
                <li class="list-group-item" style="border-radius: 10px;">CookingDuration: {{ recipe.cooking_duration }}</li>
                <li class="list-group-item" style="border-radius: 10px;">
                    <div class="d-flex justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="red" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            
                        </svg>
                        {{ recipe.likes }} 
                    </li>
                <li class="list-group-item" style="border-radius: 10px;">AverageRating: {{ recipe.average_rating }}</li>
                <li class="list-group-item" style="border-radius: 10px; margin-bottom: 10px;">Vegan: {{ recipe.is_vegan }}</li>
            </ul>
                <div class="container d-flex justify-content-center">
                    <a href="{% url 'recipez:show_recipe' recipe.id %}" class="btn btn-success btn-lg">Read More</a>
                </div>
            
        </div>
    </div>
</li>


