<script>

    $(document).ready(function () {
        window.recipe_index = "{% url 'recipez:index' %}";

        function paginate(window) {
            var page = 1;
            var block_request = false;
            var end_pagination = false;

            $(window).scroll(function () {
                var margin = $(document).height() - $(window).height() - 300; // Saman told me to do this

                if ($(window).scrollTop() > margin && end_pagination === false && block_request === false) {
                    block_request = true;
                    page += 1;

                    $.ajax({
                        type: 'GET',
                        url: window.recipe_index,
                        data: {
                            "page": page
                        },
                        success: function (data) {
                            if (data.end_pagination === true) {
                                end_pagination = true;
                            } else {
                                block_request = false;
                            }
                            $('.recipe-list').append(data.content);
                        }
                    })
                }
            });
        }
        paginate(window);
    })
</script>