{% extends 'recipez/base.html' %}
{% load static %}

{% block title_block %}
Add recipe
{% endblock %}

{% block body_block %}
<h1>Add recipe</h1>

<div class="panel-body">
    <form class="row g-3" method="post" action="{% url 'recipez:add_recipe' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in recipe_form %}
        <div class="form-group">
            <label>{{ field.label }}</label>
            {{ field }}
            <span style="color: red">{{ field.errors.0 }}</span>
        </div>
        {% endfor %}
        <div id="ingredient-form">
            <button type="button" onClick="addNewIngredient()">add a new ingredient</button>
            <script>
                var ingredientCounter = {{ingredient_forms | length}}
                ;
                function addNewIngredient() {
                    var ingredientForm = document.getElementById("ingredient-form");
                    var newIngredientGroup = document.createElement("div");
                    newIngredientGroup.setAttribute("class", "form-group");
                    var newIngredientLabel = document.createElement("label");
                    newIngredientLabel.innerHTML = "ingredient " + (++ingredientCounter);
                    newIngredientGroup.appendChild(newIngredientLabel);
                    var newIngredientInput = document.createElement("input");
                    newIngredientInput.setAttribute("type", "text");
                    newIngredientInput.setAttribute("name", "ingredient_set-" +
                        (ingredientCounter - 1) + "-ingredient");
                    newIngredientInput.setAttribute("class", "form-control");
                    newIngredientGroup.appendChild(newIngredientInput);
                    var newIngredientError = document.createElement("span");
                    newIngredientError.setAttribute("style", "color: red");
                    newIngredientGroup.appendChild(newIngredientError);
                    ingredientForm.insertBefore(newIngredientGroup,
                        ingredientForm.lastChild);
                }
            </script>
        </div>
        <input type="hidden" name="ingredient_set-TOTAL_FORMS"
               id="id_ingredient_set-TOTAL_FORMS" value="{{ ingredient_forms|length }}">
        <input type="hidden" name="ingredient_set-INITIAL_FORMS"
               id="id_ingredient_set-INITIAL_FORMS" value="{{ ingredient_forms|length }}">
        <input type="hidden" name="ingredient_set-MIN_NUM_FORMS"
               id="id_ingredient_set-MIN_NUM_FORMS" value="0">
        <input type="hidden" name="ingredient_set-MAX_NUM_FORMS"
               id="id_ingredient_set-MAX_NUM_FORMS" value="1000">
        <div class="col-12">
            <button type="submit">Submit</button>
            <button type="reset">Cancel</button>
        </div>
    </form>
</div>
{% endblock %}

<!--<div class="panel-body">-->
<!--    <form class="row g-3" method="post" action="{% url 'recipez:add_recipe' %}">-->
<!--        {% csrf_token %}-->
<!--        {% for field in recipe_form %}-->
<!--        <div class="form-group">-->
<!--            <label>{{ field.label }}</label>-->
<!--            {{ field }}-->
<!--            <span style="color: red">{{ field.errors.0 }}</span>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--        <div id="ingredient-form">-->
<!--&lt;!&ndash;            <button onclick="addNewIngredient()">add a new ingredient</button>&ndash;&gt;-->
<!--            {% for ingredient_form in ingredient_forms %}-->
<!--            <div class="form-group">-->
<!--                <label>{{ 'ingredient ' }}{{ forloop.counter }}</label>-->
<!--                {{ ingredient_form.ingredient }}-->
<!--                <span style="color: red">{{ ingredient_form.errors.0 }}</span>-->
<!--            </div>-->
<!--            {% endfor %}-->
<!--            <button type="button" onClick="addNewIngredient()">add a new ingredient</button>-->
<!--            <script>-->
<!--                var ingredientCounter = {{ingredient_form | length}};-->
<!--                function addNewIngredient() {-->
<!--                    // event.preventDefault();-->
<!--                    var ingredientForm = document.getElementById("ingredient-form");-->
<!--                    var newIngredientGroup = document.createElement("div");-->
<!--                    newIngredientGroup.setAttribute("class", "form-group");-->

<!--                    var newIngredientLabel = document.createElement("label");-->
<!--                    newIngredientLabel.innerHTML = "ingredient " + (++ingredientCounter);-->
<!--                    newIngredientGroup.appendChild(newIngredientLabel);-->

<!--                    var newIngredientInput = document.createElement("input");-->
<!--                    newIngredientInput.setAttribute("type", "text");-->
<!--                    newIngredientInput.setAttribute("name", "ingredient_" + ingredientCounter);-->
<!--                    newIngredientInput.setAttribute("class", "form-control");-->
<!--                    newIngredientGroup.appendChild(newIngredientInput);-->

<!--                    var newIngredientError = document.createElement("span");-->
<!--                    newIngredientError.setAttribute("style", "color: red");-->
<!--                    newIngredientGroup.appendChild(newIngredientError);-->

<!--                    // Add a new IngredientForm dynamically-->
<!--                    var newIngredientForm = document.createElement("form");-->
<!--                    newIngredientForm.setAttribute("method", "post");-->
<!--                    newIngredientForm.setAttribute("action", "{% url 'recipez:add_recipe' %}");-->
<!--                    newIngredientForm.style.display = "none";-->
<!--                    var newIngredientFormHtml = `-->
<!--                        {% csrf_token %}-->
<!--                        <input type="hidden" name="recipe_id" value="{{ recipe_form.instance.id }}">-->
<!--                        <input type="text" name="ingredient" value="">-->
<!--                        <button type="submit">Add</button>-->
<!--`                   ;-->
<!--                    newIngredientForm.innerHTML = ingredientFormHtml;-->
<!--                    newIngredientGroup.appendChild(newIngredientForm);-->
<!--                    // ingredientForm.insertBefore(newIngredientGroup, ingredientForm.lastChild);-->

<!--                    // add new ingredient to DOM-->
<!--                    var newIngredientsDiv = document.getElementById("new-ingredients");-->
<!--                    newIngredientsDiv.appendChild(newIngredientGroup);-->
<!--                }-->
<!--            </script>-->
<!--        </div>-->
<!--        <div class="col-12">-->
<!--            <button type="submit">Submit</button>-->
<!--            <button type="cancel">Cancel</button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->




