<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recip(EZ)
        {% block title_block %}
        {% endblock %}
    </title>
    <link href='https://fonts.googleapis.com/css?family=Bona Nova' rel='stylesheet'>
    <style>
        h4 {font-family: 'Bona Nova';}
    </style>
</head>
<body>
<div class="container">
{% block body_block %}
{% endblock %}
</div>

</body>
<footer>
        <hr />
<div class="container">
<ul>
{#    <li><a href="{% url 'recipez:home' %}">Home</a></li>#}
{#    <li><a href="{% url 'recipez:my_profile' %}">My Profile</a></li>#}
{#    <li><a href="{% url 'recipez:help' %}">Help</a></li>#}
</ul>
    </div>
</footer>
</html>