{% extends 'recipez/includes/base.html' %}
{% load static %}

{% block title_block %}
{% endblock %}

{% block body_block %}
    <div class="container z-depth-1 my-5 px-0">
    <!-- background -->
        <section class="my-md-5"
                 style="background-image: url('https://img.freepik.com/free-photo/indian-condiments-with-copy-space-view_23-2148723492.jpg?w=1060&t=st=1679416781~exp=1679417381~hmac=b69be38aff7a6fd9dcae49cde02c1133727976fc05cb677e1647b2022bd461f3'); background-size: cover; background-position: center center; border-radius: 15px;"
                 alt="Image by pikisuperstar on Freepik">

            <div class="rgba-black-strong rounded p-5">
                <!-- Section heading -->
                <div class="card text-white" style="background-color: rgba(0, 0, 0, 0.3);">
                    <div class="card-body px-5">
                        <h3 class="text-center font-weight-bold text-white mt-5 mb-5">Recip(EZ)</h3><br>
                        <form class="mx-md-5" action="">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="md-form md-outline mt-0">
                                        <h5 class="text-center font-weight-bold">About Us</h5><br>
                                        <p>Recip(EZ) has been the best website for sharing everyone's own recipes to the
                                            world. With
                                            easy and clear guidance
                                            provided, everyone could be a cook for their family. </p>
                                        <p>Over the past few years, the categories and regions of recipes has been
                                            fourfold. You cannot
                                            imagine how special
                                            and diverse these recipes are!</p>
                                        <p>Come and share your own recipes and take some fascinating ideas home. The
                                            mutual beneficial
                                            food cultural
                                            exchange will keep rolling and developing fusion that cannot be served in
                                            any
                                            restaurants!</p>
                                        <p>Great Job, EZcook!</p>
                                    </div>
                                </div>
                                <div class="col-md-5 offset-md-1 mt-md-4 mb-4 text-white">
                                    <h5 class="text-center font-weight-bold">Contact Us</h5><br>
                                    <p class="font-weight-bold">Find us on social media:</p>
                                    <p class="mb-0">Instagram: <a href="#">@recipEZ</a></p><br>
                                    <p class="mb-0">Facebook: <a href="#">recipEZ to the EZcook</a></p><br>
                                    <p class="mb-0">Twitter: <a href="#">@recipEZ</a></p><br>
                                </div>
                            </div>
                    </div>
                </div>
                </form>
            </div>
        </section>
    </div>
{% endblock %}