{% extends 'recipez/base.html' %}
{% load static %}

{% block title_block %}
{% endblock %}

{% block body_block %}
    <h2>About Recip(EZ)</h2>

    <br><br>

    <p>Recip(EZ) has been the best website for sharing everyone's own recipes to the world. With easy and clear guidance
        provided, everyone could be a cook for their family. </p>
    <p>Over the past few years, the categories and regions of recipes has been fourfold. You cannot imagine how special
        and diverse these recipes are!</p>
    <p>Come and share your own recipes and take some fascinating ideas home. The mutual beneficial food cultural
        exchange will keep rolling and developing fusion that cannot be served in any restaurants!</p>
    <p>Great Job, EZcook!</p>

    <br><br>

    <h2>Contact Us</h2>

    <br><br>

    <h3>Find us on social media:</h3>

    <p>Instagram: <a href="#">@recipEZ</a></p>
    <p>Facebook: <a href="#">recipEZ to the EZcook</a></p>
    <p>Twitter: <a href="#">@recipEZ</a></p>

    <br><br>
{% endblock %}