{% extends 'recipez/includes/base.html' %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <h1 class="d-flex align-items-center text-dark text-decoration-none">Welcome to Recipez
            <small class="text-muted">An application that will help you to search look for the best recipes and post your own creations!</small>
            </h1>
        </div>
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                {% if recipe_list_by_RecipeName %}
                    <ul class="list-group">
                    {% for recipe in recipe_list_by_RecipeName %}
                        <div class="card" style="width: 60rem;">
                            <li class="list-group-item mb-6 rounded">
                                <a href="{% url 'recipez:show_recipe' recipe.id %}">{{ recipe.name }}</a> <br>
                                Author: {{ recipe.user.user.username }}<img src="{{ MEDIA_URL }}{{ recipe.user.avatar }}" width="30" height="30" alt="Avatar"> <br>
                                Category: {{ recipe.category }} <br>
                                Region: {{ recipe.region }} <br>
                                Difficulty: {{ recipe.difficulty }} <br>
                                CookingDuration: {{ recipe.cooking_duration }} <br>
                                Likes: {{ recipe.likes }} <br>
                                AverageRating: {{ recipe.average_rating }} <br>
                                Vegan: {{ recipe.is_vegan }} <br>
                                CreationTime: {{ recipe.creation_time }} <br>
                                RecipePhoto:<img src="{{ MEDIA_URL }}{{ recipe.photo }}" alt="Photo"> <br> <br> <br>
                            </li>
                        </div>
                    {% endfor %}
                    </ul>
                {% else %}
                    <strong>Your database is empty!</strong>
                {% endif %}
            </div>
        

                <div class="container-fluid py-4">
                    <h2>Best of Today:</h2>
                        {% if best_of_today %}
                            <ul>
                                {% for recipe in best_of_today %}
                                    <li>
                                        <a href="{% url 'recipez:show_recipe' recipe.id %}">{{ recipe.name }}</a> <br>
                                        Author: {{ recipe.user.user.username }}<img src="{{ MEDIA_URL }}{{ recipe.user.avatar }}" width="30" height="30" alt="Avatar"> <br>
                                        Category: {{ recipe.category }} <br>
                                        Region: {{ recipe.region }} <br>
                                        Difficulty: {{ recipe.difficulty }} <br>
                                        CookingDuration: {{ recipe.cooking_duration }} <br>
                                        Likes: {{ recipe.likes }} <br>
                                        AverageRating: {{ recipe.average_rating }} <br>
                                        Vegan: {{ recipe.is_vegan }} <br>
                                        CreationTime: {{ recipe.creation_time }} <br>
                                        RecipePhoto:<img src="{{ MEDIA_URL }}{{ recipe.photo }}" alt="Photo"> <br> <br> <br>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <strong>There are no recipes contain this name.</strong>
                        {% endif %}
                    <br> <br> <br>
                </div>
            </div>
        </div>
     </div>
{% endblock %}

