{% extends 'recipez/base.html' %}
{% load static %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <h1>Register for Recipez</h1>
    {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="{% url 'recipez:index' %}">Return to the homepage.</a><br />
    {% else %}
        <strong>Register here!</strong><br />
        <form id="user_form" method="post" action="{% url 'recipez:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}
{% endblock %}