{% extends 'recipez/includes/base.html' %}
{% load static %}

{% block title_block %}
    User Profile
{% endblock %}

{% block body_block %}
    <div class="container py-2 mb-4 p-2">
        <div class="row d-flex justify-content-between">

            <div class="col-sm-8">
            <h1 class="display-1 text-end">Hi, {{ user_name }}</h1>
            <h4 class="display-4 text-end">Welcome to your profile!</h4>
            </div>
            <div class="col-sm-2 mt-4 ml-6">
            <img src="{{ MEDIA_URL }}{{user_avatar}}" width="100" height="100" alt="User Avatar" class="user-avatar d-flex justify-content-between" style="border-radius: 50%;" /> </div>
        </div>
    </div>

    <div class="container text-center mb-4 p-2">
        <span><a href="{% url 'recipez:add_recipe' %}" class="btn btn-primary btn-lg">Post Something New</a></span>
    </div>

    <div class="container py-2 mb-4 p-2">
        <h4 class="display-4 text-center">My Posts</h4>
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    {% for recipe in post_recipes %}
                    <li class="nav-item">
                        <button class="nav-link 1" id="{{recipe.id}}" role="tab">{{recipe.name}}</button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-body tab-content">
                <div class="tab-content">
                    {% for recipe in post_recipes %}
                    <div class="tab-pane 1" id="{{recipe.id}}-post" role="tabpanel">
                        <img src="{{ MEDIA_URL }}{{ recipe.photo }}" alt="Photo" class="card-img-top" style="width: 100px; height: 100px;">
                        <h5 class="card-title">{{recipe.name}}</h5>
                        <p class="card-text">{{recipe.detail}}</p>
                        <div class="card-footer">
                            <a href="{% url 'recipez:show_recipe' recipe.id %}" class="btn btn-outline-success">Read More</a>
                        </div>
                    </div>
                    {% empty %}
                        <p class="lead">You have not posted anything</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container py-2 mb-4 p-2">
        <h4 class="display-4 text-center">Saved Recipes</h4>
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    {% for recipe in saved_recipes %}
                    <li class="nav-item">
                        <button class="nav-link active 2" id="{{recipe.id}}" data-toggle="tab" role="tab" aria-controls="{{recipe.id}}">{{recipe.name}}</button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-body">
                {% for recipe in saved_recipes %}
                <div class="tab-content">
                    <div class="tab-pane 2" id="{{recipe.id}}-saved" role="tabpanel" aria-labelledby="{{recipe.id}}">
                        <img src="{{ MEDIA_URL }}{{ recipe.photo }}" alt="Photo" class="card-img-top" style="width: 100px; height: 100px;">
                        <h5 class="card-title">{{recipe.name}}</h5>
                        <p class="card-text">{{recipe.detail}}</p>
                        <div class="card-footer">
                            <a href="{% url 'recipez:show_recipe' recipe.id %}" class="btn btn-outline-secondary">Read More</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                    <p class="lead">Your favorites are empty.</p>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}

