#btn-back-to-top {
    position: fixed;
    bottom: 100px;
    right: 100px;
    opacity: 100%;
    border-radius: 20%;
    cursor: pointer;
    display: none;
    transition: opacity 0.5s;
  }

#btn-back-to-top:hover {
    opacity: 60%;
}

#btn-back-to-top .hidden {
    opacity: 0%;
}

.card {
border-radius: 0.25rem;
}

.card-body {
border-top-right-radius: 0.25rem;
border-bottom-right-radius: 0.25rem;
}

.card-img-top {
border-top-left-radius: 0.25rem;
border-top-right-radius: 0.25rem;
}

.card-img-bottom {
border-bottom-left-radius: 0.25rem;
border-bottom-right-radius: 0.25rem;
}

.form-group label {
font-weight: bold;
}

.form-group input[type="text"], .form-group select {
width: 100%;
}

.form-group span {
font-size: 0.8rem;
}

.btn {
text-transform: uppercase;
font-weight: bold;
letter-spacing: 0.1rem;
font-size: 0.9rem;
padding: 0.5rem 1rem;
}

.btn-outline-success {
color: #28a745;
border-color: #28a745;
}

.btn-outline-danger {
color: #dc3545;
border-color: #dc3545;
}