#btn-back-to-top {
    position: fixed;
    bottom: 120px;
    right: 100px;
    opacity: 100%;
    border-radius: 20%;
    cursor: pointer;
    display: none;
    transition: opacity 0.5s;
  }

#btn-back-to-top:hover {
    opacity: 60%;
}

#btn-back-to-top .hidden {
    opacity: 0%;
}

.alert.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}