#btn-back-to-top {
    position: fixed;
    bottom: 100px;
    right: 100px;
    opacity: 100%;
    border-radius: 20%;
    cursor: pointer;
    display: none;
    transition: opacity 0.5s;
  }

#btn-back-to-top:hover {
    opacity: 60%;
}

#btn-back-to-top .hidden {
    opacity: 0%;
}

/* CSS for the card image */
.card img {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  object-fit: cover;
  height: 100%;
  filter: brightness(65%);
}

/* CSS for the "Write a New Recipe" title */
.card .position-absolute {
  z-index: 1;
}

/* CSS for the form inputs and labels */
.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: 600;
}

.form-group input,
.form-group select {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .375rem .75rem;
  line-height: 1.5;
}

/* CSS for the "New Ingredient" button */
#ingredient-form button {
  margin-bottom: 1rem;
}

/* CSS for the "Submit" and "Cancel" buttons */
.col-12 button {
  margin-top: 1rem;
}