{% extends 'recipez/includes/base.html' %}
{% load static %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<!-- Section: Design Block -->
<section class="gradient-custom">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              
              <!-- Section: Form Data -->
              <div class="mb-md-2 mt-md-2 pb-3">
                <form id="login_form" method="post" action="{% url 'recipez:login' %}">
                    {% csrf_token %}
                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                    <p class="text-white-50 mb-5">Please enter your username and password!</p>

                    <div class="form-outline form-white mb-4">
                    <input type="username" name="usernameInput" id="usernameX" class="form-control form-control-lg" />
                    <label class="form-label" for="usernameX">Username</label>
                    </div>
    
                    <div class="form-outline form-white mb-2">
                    <input type="password" name="passwordInput" id="passwordX" class="form-control form-control-lg" />
                    <label class="form-label" for="passwordX">Password</label>
                    </div>
                    
                    <div class="form-check d-flex justify-content-center form-white mb-4 col-md-4">
                        <input type="checkbox" class="form-check-input me-2" name="rememberMe" id="rememberMe">
                        <label class="form-check-label text-left" for="rememberMe">Remember Me</label>
                    </div>

                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                </form> <br>
                
                <!-- Section: Social media -->
                <p><strong>-- OR --</strong></p>
                <div class="d-flex justify-content-center text-center mt-4 pt-1">
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-lg btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                            <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"></path>
                            </svg>
                    </a>
                </div>

              </div>
              
              <!-- Section: Text -->
              <div>
                <p class="mb-0">Don't have an account? </p> <br>
                <a href="{% url 'recipez:register' %}" class="btn btn-lg btn-success">Sign Up</a>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
