{% extends 'recipez/base.html' %}
{% load static %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}

<!--Work in Progress-->

<!-- Path: templates\recipez\authentication\register.html -->
<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: #f1deda">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              The Platform for Foodies <br />
              <span class="text-primary">Recip(ez)</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
              The easiest way to find new recipes and share your own. <br>
              Find a community of cooks who share your passion for food. <br>
              Enjoy the best recipes from around the world. <br>
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card bg-dark text-white">
              <div class="card-body py-5 px-md-5">
                <form id="user_form" method="post" action="{% url 'recipez:register' %}" enctype="multipart/form-data">

                    {% csrf_token %}
                    <!--Username Input-->
                    <div class="form-outline form-white mb-4">
                        {{ user_form.username }}
                        <label class="form-label" for="usernameClass">Username</label>
                    </div>
                    
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        {{ user_form.email }}
                        <label class="form-label" for="mailClass">Email address</label>
                    </div>
  
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        {{ user_form.password }}
                        <label class="form-label" for="passwordClass">Password</label>
                    </div>
                    
                    {{ profile_form.as_p }}
  
                    <!-- Checkbox -->
                    <div class="form-check mb-4">
                        <input class="form-check-input me-2" type="checkbox" value="" id="checkInputClass" checked />
                        <label class="form-check-label" for="checkInputClass">
                        Remember Me
                        </label>
                    </div>
  
                    <!-- Submit button -->
                    <div class="form-check d-flex justify-content-center mb-4">
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            Sign up
                        </button>
                    </div>

                  <!-- Register buttons -->
                  <div class="text-center">
                    <p>or sign up with:</p>
  
                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-link btn-floating mx-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                            <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"></path>
                            </svg>
                    </a>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
{% endblock %}